<% provide(:title, "Top") %>
<div class="jumbotron">
  <h1>サンプルアプリ</h1>
  <p>
    皆さんの手で、この最低限の土台となるアプリケーションから<br>
    タスク管理機能を持ったアプリケーションへと作り替えていきましょう！
  </p>

  <p>現在このアプリケーションには、以下の機能が備わっています。</p>

  <ul>
    <li>ルートURLに対応したトップページ（このページです）</li>
    <li>ユーザー機能
      <ol>
        <li>名前・メールアドレス・パスワード・ログイン認証用のカラムを持ったUserモデル</li>
        <li>ユーザー新規登録と対応したページ</li>
      </ol>
    </li>
    <li>ログイン機能
      <ol>
        <li>セッションによる一時的ログイン機能</li>
        <li>Cookiesによる永続的ログイン機能</li>
      </ol>
    </li>
  </ul>
  <p>実質【勤怠チュートリアル第７章】までの機能を持ったアプリケーションとなります。</p>
  <center>
    <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Log In", login_path, class: "btn btn-lg btn-primary" %>
  </center>
</div>
